// Big button
.big-button {
  background: $dark-grey;
  border-bottom: .5rem solid darken($dark-grey, 10%);
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $l-size;
  }
}

// Button
.button {
  background: $dark-grey;
  border-radius: .3rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.185);
  color: #fff;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none; 
  color: $light-beach;
  padding: .6rem;    
}

