.header {
  background: $light-green;
  color: #fff;
  margin-bottom: $m-size;
  margin: 0 auto;
  margin-top: $l-size;
  padding: $m-size;
}
// BEM block element modifier
.header__title {
  font-size: $l-size;
  margin: 0;
  padding-bottom: $s-size;
}

.header__subtitle {
  color: #eee;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $l-size;
    padding-bottom: $l-size;
  }
}