// Colors
$crimson: #dc143c;
$dark-grey:#2a363b;
$light-green: #99b898;
$light-beach: #fecea8;
$pink: #ff847c;
$red: #e84a5f;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
